<h4>description:</h4>
<p>{{ course?.description }}</p>
<h4>teacher identity:</h4>
<p>{{ course?.teacherId}}</p>


<mat-expansion-panel class="lessons-panel">
    <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
            <h4 matListItemTitle>Lessons</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
        @for(lesson of lessons; track lesson.id) {
        <li>
            <div class="lesson-info">
                <span class="lesson-title">{{ lesson.title }}</span>
                <span class="lesson-content">{{ lesson.content }}</span>
            </div>
            <div>
                <button mat-icon-button (click)="updateLesson(lesson.id)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button (click)="deleteLesson(lesson.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
        }
    </ul>
</mat-expansion-panel>

<button mat-flat-button color="primary" (click)="addLesson()">Add Lesson</button>